<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="data:,">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home_style.css') }}">
</head>
<body>
<div class="area" >
  <ul class="circles">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
  </ul>
</div >

<div class="context" style="text-align: center;">
  <h1>Uh-oh, something went wrong!</h1>
  <h3>Return home, and then resume your work</h3><br>

  <a href="/">Back to home</a><br>
  
  
</div>

</body>
</html>