<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="data:,">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home_style.css') }}">
    </head>
    <body>
        <div class="area" >
            <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
            </ul>
          </div >

        <div class='context' style="text-align: center;">
            <h1>Enter Email Address</h1>
            <h3>Enter a new email address or submit if the email is already correct</h3><br>
            <form method="post" action="#">
                <input type="name" id="textbox" name="textbox" placeholder="{{ saved_email_address }}">
                <br><br><button type="qty_button">Submit</button>

            </form>
        </div>
    </body>
</html>